<% provide(:title, "About") %>
<h1>About</h1>
<p>
We here at BLDR are trying to make it easier for those building houses and those wanting houses built, by providing a way for them to both communicate quickly and effectively.
</p>