<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  <a href="mailto:dbrown37@ggc.edu?Subject=You%20will%20never%20guess">Duncan "The Man, The Legend" Brown</a>
<p>Please do not contact Ladonte or Joshua; they didn't write this page.</p>